USE [master]
GO
/****** Object:  Database [Movies]    Script Date: 11/24/2017 9:59:36 AM ******/
CREATE DATABASE [Movies]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Movies', FILENAME = N'C:\Users\murilo.rodrigues\AppData\Local\Microsoft\Microsoft SQL Server Local DB\Instances\MSSQLLocalDB\Movies.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Movies_log', FILENAME = N'C:\Users\murilo.rodrigues\AppData\Local\Microsoft\Microsoft SQL Server Local DB\Instances\MSSQLLocalDB\Movies_0.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Movies].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Movies]
GO
USE [Movies]
GO
/****** Object:  Table [dbo].[Movie]    Script Date: 11/24/2017 9:59:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Movie](
	[Id] [int] NOT NULL,
	[Title] [varchar](100) NOT NULL,
	[ReleaseDate] [datetime] NOT NULL,
	[Director] [varchar](100) NOT NULL
) ON [PRIMARY]

GO
USE [master]
GO
INSERT [dbo].[Movie] ([Id], [Title], [ReleaseDate], [Director]) VALUES (1, N'Terminator', CAST(N'1985-03-25T00:00:00.000' AS DateTime), N'James Cameron')
GO

